/lar_project/node_modules
/lar_project/public/hot
/lar_project/public/storage
/lar_project/storage/*.key
/lar_project/vendor
/lar_project.env
/lar_project.env.backup
/lar_project.phpunit.result.cache
/lar_projectdocker-compose.override.yml
/lar_projectHomestead.json
/lar_projectHomestead.yaml
/lar_projectnpm-debug.log
/lar_projectyarn-error.log
/lar_project/.idea
/lar_project/.vscode
